<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">


	<!-- Tell Spring where to look for controllers file -->
	<context:component-scan base-package="com.ibm.spring.web.controllers">
	</context:component-scan>

	<!-- Tell Spring we are going to use annotation on our mvc (controllers) -->
	<mvc:annotation-driven></mvc:annotation-driven>

	<!-- To tell Spring to serve the view using .jsp files reside in jsps folder -->
	<bean id="jspViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsps/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- Tell Spring where static resources are. "**" = it can be a file or a folder. 
	To access, the app must use /static path -->
	<mvc:resources location="/resources/" mapping="/static/**" />
</beans>
